html{
  background-image: url(delorean.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.form{
  width:25%;
  height: 50%;
  position: absolute;
  background-color: white;
  border: 1px grey;
  border-radius: 0 5px 5px 0;
  margin-top: 15%;
  margin-right: 25%;
  margin-left: 50%;
  justify-content: space-around;
  text-align: center;
}

.signup{
  width:100%;
  height: 10%;
  position: absolute;
  background-color: grey;
  border: 1px grey;
  border-radius: 0 0 5px 0;
  bottom: 0px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  padding-top: 20px;
}

.welcome{
  width:25%;
  height: 50%;
  position: absolute;
  background-color: Dodgerblue;
  border: 1px grey;
  border-radius: 5px 0 0 5px;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 50%;
  text-align: left;
  font-family: sans-serif;
  color: white;
  padding-left: 3px;
  padding-right: 5px;
}

.text{
  color: white;
}

.field{
  font-family: sans-serif;
  color: black;
  padding-top: 5px;
  text-align:center;
}

.forgot{
  font-style: italic;
  color: grey;
  font-family: sans-serif;
  bottom: 20px;
  text-align: center;
}

.index{
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
